// global settings

* {
  list-style-type: none;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
}

img {
  display: block;
}

.back-to-top {
  position: -webkit-sticky;
  position: sticky;
  top: 50em;
  margin-left: 92vw;
  z-index: 200;
  scroll-behavior: smooth;

  a {
    display: block;
  }

  i {
    color: black;
    font-size: 1.5em;
  }
}

.nav-container {
  // position: fixed;
  // left: 0;
  // width: 100%;
  // z-index: 100;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: -1em;
  padding: 0.5em 0;
  align-items: center;

  .logo-wrap {
    background-color: #f2f2f2;
    img {
      display: block;
      width: 10em;
      margin-left: 1em;
    }
  }

  ul {
    margin: 0.5em auto;
    padding: 1em;
    font-size: 1.7rem;
    line-height: 2em;
    text-align: center;
    color: #f2f2f2;

    li {
      margin: 0 auto;
    }

    li:hover {
      background-color: rgba(204, 204, 204, 0.2);
      transition: all 0.5s ease-in-out;
    }
  }

  .menu-content li:hover {
    background-color: rgba(204, 204, 204, 0.2);
    transition: all 0.5s ease-in-out;
  }

  nav {
    position: fixed;
    top: 0%;
    left: 0;
    width: 100%;
    height: 20em;
    background: #9798a6;
    z-index: 100;
    opacity: 1;
    clip-path: circle(20px at 100% -10%);
    -webkit-clip-path: circle(20px at 100% -10%);
  }

  a {
    display: block;
    text-decoration: none;
    color: inherit;
  }
}

.nav-bar {
  position: absolute;
  right: 0;
  display: block;
  width: 3em;
  padding-right: 1em;
  z-index: 150;
  .first-line,
  .second-line,
  .third-line {
    background-color: black;
    height: 0.3em;
    margin-bottom: 0.4em;
    border-radius: 5px;
    cursor: pointer;
  }
}

.section1 {
  margin-top: 0;
  position: relative;
  z-index: 0;
  img {
    width: 100%;
    position: relative;
    z-index: 0;
  }

  h2 {
    position: absolute;
    top: 30%;
    left: 5%;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 150%;
  }

  p {
    position: absolute;
    top: 52%;
    left: 5%;
    font-size: 0.9em;
    font-weight: 200;
    width: 26em;
    line-height: 140%;
  }
}

.btn {
  border: 1px solid black;
  width: 7em;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #ccc;
  font-size: 0.9em;
  font-weight: 200;
  text-align: center;
  padding: 0.2em 0;
  position: absolute;
  top: 78%;
  left: 5%;
}

.btn:hover {
  background-color: white;
  border: none;
  cursor: pointer;
}

h1 {
  text-align: center;
  font-size: 3em;
  margin: 0 auto;
  padding: 1em 0;
}

h3 {
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-size: 2em;
  -webkit-text-stroke: 0.5px #2f3159;
  margin: 0 auto;
}

.section2 {
  background-image: url(./images/background-shape.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;

  .blocks {
    min-height: 15em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: hidden;
    padding-top: 4em;
    transition: min-height 0.5s ease-in-out;
  }

  i {
    padding-top: 1em;
    font-size: 2em;
    color: white;
    -webkit-text-stroke: 0.1px #2f3159;
    cursor: pointer;
  }

  .block-content {
    width: 85%;
    margin: 2em auto;
    color: white;
    font-size: 1.3em;
    display: none;
  }

  #content1 {
    color: #74768c;
  }

  #content2 {
    color: #f2f2f2;
  }

  .block1 {
    background-color: #f2f2f2;
  }
  .block2 {
    background-color: #9798a6;
  }
  .block3 {
    background-color: #74768c;
  }
  .block4 {
    background-color: #3b3c59;
  }
}

.section3 {
  .section3-block1,
  .section3-block2,
  .section3-block3,
  .section3-block4,
  .section3-block5,
  .section3-block6 {
    position: relative;
    height: 65vw;
    width: 90vw;
    margin: 1em auto;
    background-color: #2f3159;
  }

  .section3-img-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2f3159;
    z-index: 1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      mask-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.2)
      );
      -webkit-mask-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.2)
      );
    }
  }

  .section3-content-wrap {
    position: relative;
    z-index: 50;
    padding-left: 10em;
    padding-top: 0.1em;
  }

  h4,
  h5,
  p {
    color: white;
  }

  h5 {
    font-size: 1.5em;
  }

  h4 {
    font-weight: 300;
    span {
      font-weight: 600;
    }
  }

  .right-side-content {
    display: none;
  }

  .btn {
    position: relative;
    border-color: white;
    box-shadow: none;
    color: white;
    top: 0;
    left: 0;
  }

  .btn:hover {
    background-color: white;
    color: #2f3159;
    cursor: pointer;
  }
}

.form-container {
  margin: 2em auto;
  margin-bottom: 0;
  background-color: #f2f2f2;

  label {
    display: block;
  }

  i {
    display: inline-block;
    font-size: 1.5rem;
    margin: 0.5em;
    color: #9798a6;
    border: none;
    border-right: 2px solid #9798a6;
    padding-right: 1em;
    border-radius: 2px;
  }

  #project-icon,
  #budget-icon {
    padding-right: 0.8em;
  }

  .btn {
    position: relative;
    margin-left: 40vw;
    margin-top: 1em;
    margin-bottom: 2em;
  }
}

.form-lines {
  display: flex;
  border: 1px solid #9798a6;
  border-radius: 2px;
  width: 90vw;
  margin: 1vw auto;
  padding: 1em;

  select {
    background-color: #f2f2f2;
    width: 90%;
    border: none;
    padding: 1em;
    resize: none;
    color: grey;
  }

  textarea {
    background-color: #f2f2f2;
    width: 90%;
    border: none;
    padding: 1em;
    resize: none;
    color: #9798a6;
  }

  input[type="text"] {
    background-color: #f2f2f2;
    width: 90%;
    border: none;
    padding: 1em;
    resize: none;
    color: #9798a6;
  }
}

.form-lines:focus-within {
  border: 1px solid #2f3159;
  border-radius: 2px;
}
.form-lines:focus-within i {
  color: #2f3159;
  border-color: #2f3159;
}

.form-lines input:focus,
.form-lines textarea:focus,
.form-lines select:focus {
  color: #2f3159;
  outline: none;
}

footer {
  margin: 3em 1em 0.5em 3em;
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  p {
    flex: 0 0 50%;
    font-weight: 300;
    overflow-wrap: break-word;
  }

  .social-media {
    flex: 1 0 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    p {
      flex: 0 0 30%;
    }

    i {
      font-size: 1.5em;
      margin: 0 0.5em;
    }
  }
  i:hover {
    color: rgb(58, 58, 179);
    cursor: pointer;
  }
}

@media screen and (min-width: 48em) {
  .back-to-top {
    top: 50em;
    margin-left: 95vw;

    i {
      font-size: 2em;
    }
  }
  .nav-container {
    ul {
      display: flex;
      font-size: 1.2em;
      text-align: center;
      color: black;

      li {
        margin: 0 auto;
      }

      li:hover {
        border-bottom: 3px solid #9798a6;
        background-color: white;
      }
    }

    nav {
      flex: 0 0 70%;
      height: auto;
      clip-path: none !important;
      position: relative;
      background-color: inherit;
    }
  }

  .nav-bar {
    display: none;
  }

  .section1 {
    h2 {
      font-size: 2em;
    }
    p {
      font-size: 1.1em;
      padding-top: 1em;
      width: 32em;
    }
  }

  .btn {
    font-size: 1.1em;
    width: 7em;
  }

  .section3 {
    .section3-content-wrap {
      padding-left: 2em;
      padding-top: 0.1em;
      display: flex;
      flex-wrap: wrap;

      h5 {
        font-size: 2.5em;
        flex: 1 0 100%;
      }

      .left-side-content {
        flex: 0 0 40%;
      }

      .right-side-content {
        display: block;
        flex: 0 0 55%;
      }

      p {
        font-size: 1em;
        font-weight: 300;
        line-height: 150%;
      }

      .btn {
        margin-top: 2em;
      }
    }
  }
}

@media screen and (min-width: 64em) {
  .section1 {
    p {
      font-size: 1.4em;
      padding-top: 1em;
      width: 33em;
    }
  }

  .btn {
    font-size: 1.4em;
  }

  h3 {
    font-size: 3em;
  }

  .section2 {
    .blocks {
      min-height: 18em;
    }
  }

  .section3 {
    h4 {
      font-size: 1.5em;
    }
    .right-side-content {
      p {
        font-size: 1.5em;
        font-weight: 300;
        line-height: 150%;
      }
    }
    .btn {
      font-size: 1.5em;
    }
  }
}

@media screen and (min-width: 80em) {
  body {
    margin: 0;
    max-width: 120em;
    margin: 0 auto;
  }

  .nav-container {
    padding: 0.5em 0;
    .logo-wrap {
      img {
        width: 15em;
      }
    }

    ul {
      font-size: 2em;
      padding: 0;
    }
  }

  .section1 {
    h2 {
      font-size: 2.5em;
    }
    p {
      font-size: 1.5em;
      width: 32em;
    }
  }
  .btn {
    font-size: 1.5em;
  }

  .section2 {
    display: flex;
    flex-wrap: wrap;
    background-size: cover;

    h1 {
      flex: 1 0 100%;
    }

    .blocks {
      flex: 1 0 25%;
      min-height: 50em;
      font-size: 0.6em;
    }

    i {
      font-size: 3em;
    }

    #slide-btn1,
    #slide-btn2 {
      margin-top: 1.3em;
    }

    .block-content {
      font-size: 1.8em;
    }
  }

  .section3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    h1 {
      flex: 1 0 100%;
    }

    .section3-block1,
    .section3-block2,
    .section3-block3,
    .section3-block4,
    .section3-block5,
    .section3-block6 {
      flex: 0 0 47%;
      height: 30vw;
      margin: 2em auto;
      overflow-y: hidden;
    }

    h4 {
      font-size: 1em;
    }
    .section3-content-wrap {
      h5 {
        font-size: 1.8em;
        margin: 1em 0;
      }
      .btn {
        position: absolute;
        font-size: 1em;
        transform-origin: top left;
        left: 2em;
        top: 50em;
        transition: all 0.5s ease-in-out;
      }
    }

    .right-side-content {
      p {
        font-size: 1em;
      }
    }

    .section3-content-wrap {
      padding-top: 50em;
      transition: all 0.5s ease-in-out;
    }

    .section3-block1:hover,
    .section3-block2:hover,
    .section3-block3:hover,
    .section3-block4:hover,
    .section3-block5:hover,
    .section3-block6:hover {
      .section3-content-wrap {
        padding-top: 1em;
      }

      .section3-img-wrap {
        img {
          mask-image: linear-gradient(
            to right,
            rgba(255, 255, 255, 0.2),
            rgba(255, 255, 255, 0.2)
          );
          -webkit-mask-image: linear-gradient(
            to right,
            rgba(255, 255, 255, 0.2),
            rgba(255, 255, 255, 0.2)
          );
        }
      }

      .btn {
        top: 18.5em;
      }
    }

    .section3-img-wrap {
      img {
        object-fit: fill;
        mask-image: none;
      }
    }
  }
}
